@charset "utf-8";

//Custom colors
$petroleo: rgba(28, 52, 61, 1);
$dei: rgba(207, 92, 54, 1);
$casiblanco: rgba(243, 247, 240, 1);
$verdeagua: rgba(79, 209, 170, 1);
$paquetevela: rgba(239, 111, 108, 1);

// Update Bulma's global variables
$grey-dark: $petroleo;
$grey-light: $casiblanco;
$primary: $verdeagua;
$link: $paquetevela;
$fullhd-enabled: false;
$family-sans-serif: "Nunito", sans-serif;
@import "../../node_modules/bulma/bulma.sass";

// css toggle magic
@include until($tablet){
    #toggleMe {
      display: none;
    }
    #toggleControl:checked ~ #toggleMe {
      display: block;
    }
}

// Printer options
@media print{
    .is-hidden-print{
        display: none !important;
    }
}

// Import a Google Font
@import url("../webfonts/fonts.css");

//FontAwesome
$fa-font-path:  "../webfonts" !default;
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
