//- index_en.pug
extends layouts/layout.pug

block variables
    - var english = 1
    - var subtitle = 'Informatics Civil Engineer, Backend Engineer@Cornershop'

block content 
    +card_section('Education')
        +card('Informatics Civil Engineering',
            'Universidad Técnica Federico Santa María',
            '2011 - 2018',
            'Dissertation Project: “Reimplementación de Estructuras Comprimidas para Rank, Select y Next basadas en Gap Encoding”.',
            'Degree: Bachelors')

    +card_section('Experience')
        +card('Backend Engineer',
            'Cornershop',
            'May 2019 - ',
            'Started working as Backend Support. Currently in the Security-Engineering team as Backend Engineer.',
            'Tecnologías: Python, Django.')

        +card('Computer Lab Assistant Coordinator',
            'Universidad Técnica Federico Santa María',
            '2012 - 2017',
            'Systems Administrator Assistant for the Informatics Departament of UTFSM San Joaquín. Assistants Coordinator of a group of 15 other assistants since March 2015. Linux system administration, help desk, user support and web services administration.',
            'Relevant Tech: Linux, Bash, Apache, CentOS, Python, Ruby on Rails and others.')
    
        +card('Software Development Contractor',
            'Kuantum Spa.',
            'June 2017 - August 2017',
            'Helped with the implementation of a web app used in industrial monitoring.',
            'Relevant Tech: PHP, Laravel, REST.')

        +card('Software Engineering Internship',
            'Wholemeaning',
            'January 2017 - March 2017',
            'Design, implementation and testing of a deployment automation system. Professional Internship.',
            'Relevant Tech: Jenkins, Groovy, Tomcat, Linux and Python.')
        +card('Software Engineering Internship',
            'Socialweb',
            'January 2015 – March 2015',
            'Participate in the development of ad-hoc web applications using different languages and tools but mainly ruby on rails. Industrial Internship.',
            'Relevant Tech: Ruby on Rails, Javascript, HTML and AngularJS.')

    +card_section('Skills')
        .column.is-12
            .card
                .card-content
                    h4.title.is-4 Technical
                    .content
                        ul
                            li Experience in projects with several programming languages such as C++, Python, Ruby and others.
                            li Linux system administration tools.
                            li Academic experience with different tools and programming languages: C#, Java, REST, Android, PostgreSQL, Latex, Ruby on Rails, JavaScript, Lua, HTML, Unity, Realidad Virtual, etc.
                            li Experience with web frontend and backend development.
        
        .column.is-12
            .card
                .card-content
                    h4.title.is-4 Languages 
                    .content
                        ul
                            li Native Spanish
                            li Technical English

