//- index.pug
extends layouts/layout.pug

block variables
    - var english = 1
    - var subtitle = 'Ingeniero Civil Informático, Backend Engineer@Cornershop'

block content
    +card_section('Educación')
        +card('Ingeniería Civil Informática',
            'Universidad Técnica Federico Santa María',
            '2011 - 2018',
            'Proyecto de memoria: “Reimplementación de Estructuras Comprimidas para Rank, Select y Next basadas en Gap Encoding”.',
            'Grado Académico: Licenciatura')

    +card_section('Experiencia')
        +card('Backend Engineer',
            'Cornershop',
            'Mayo 2019 - ',
            'Comencé trabajando en el equipo de Backend Support. Actualmente me desempeño como Backend Engineer en Security-Engineering.',
            'Tecnologías: Python, Django.')

        +card('Coordinador de Ayudantes Laboratorio de Computación',
            'Universidad Técnica Federico Santa María',
            '2012 - 2017',
            'Ayudante de Administración de sistemas para el Departamento de Informática de la UTFSM San Joaquín. Coordinador de 15 ayudantes a partir de marzo del 2015. Administración de Sistemas Linux, Mesa de Ayuda, Soporte de Usuarios y Administración de Servicios Web y otros.',
            'Tecnologías: Linux, Bash, Apache, CentOS, Python, Ruby on Rails y otras.')

        +card('Contratista de Desarrollo de Software',
            'Kuantum Spa.',
            'Junio 2017 - Agosto 2017',
            'Apoyo a la implementación de una aplicación web para el monitoreo de sistemas industriales.',
            'Tecnologías: PHP, Laravel, REST.')

        +card('Práctica Profesional',
            'Wholemeaning',
            'Enero 2017 - Marzo 2017',
            'Diseño, implementación y pruebas de un sistema de despliegue automático. Además de apoyar en diversas labores de desarrollo interno.',
            'Tecnologías: Jenkins, Groovy, Tomcat, Linux y Python.')
        +card('Práctica Industrial',
            'Socialweb',
            'Enero 2015 – Marzo 2015',
            'Desarrollo de aplicaciones web ad-hoc para distintos clientes y en diversas plataformas.',
            'Tecnologías: Ruby on Rails, Javascript, HTML y AngularJS.')

    +card_section('Habilidades')
        .column.is-12
            .card
                .card-content
                    h4.title.is-4 Técnicas 
                    .content
                        ul
                            li Experiencia en proyectos con distintos lenguajes de programación como C++, Python, Ruby, y otros.
                            li Manejo de herramientas de administración de sistemas Linux.
                            li Acercamiento académico con diversas herramientas y lenguajes de programación: C#, Java, REST, Android, PostgreSQL, Latex, Ruby on Rails, JavaScript, Lua, HTML, Unity, Realidad Virtual, etc.
                            li Experiencia en desarrollo backend y frontend web.
        
        .column.is-12
            .card
                .card-content
                    h4.title.is-4 Idiomas
                    .content
                        ul
                            li Español Nativo
                            li Inglés Técnico
