//layout.pug

mixin card_section(name)
    section.section
        .container
            h3.title.is-3=name 
            .columns.is-multiline
                block
mixin card(title, place, len, description, skills)
    .column.is-12
        .card
            .card-content
                h4.title.is-4  #{title} 
                   em #[small #{place}] 
                p.subtitle=len 
                .content
                    p=description
                    if skills
                        p
                            em
                                small=skills

mixin icon(link, icon)
    a(href=link target='_blank').icon.is-medium 
        i(class = "fab fa-lg "+icon)

block variables

doctype html
html(lang='es')
    head
        title Nicolás Aravena Claramunt 
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='theme-color' content='#4fd1aa')
        link(rel="stylesheet" type="text/css" href="css/style.css")
    body.has-background-light
        section.hero.is-primary.is-bold
            .hero-head.is-hidden-print
                nav.navbar
                    .container
                        .navbar-brand
                            label(for='toggleControl' style='cursor: pointer;').navbar-burger.burger
                                span
                                span
                                span
                        input(type='checkbox' id='toggleControl' style='display: none;')
                        #toggleMe.navbar-menu
                            .navbar-end
                                a(href='/' class=english? '' : 'is-active').navbar-item 🇨🇱 Español
                                a(href='/index_en.html' class=english? 'is-active' : '').navbar-item  🌎 English
            .hero-body
                .container.has-text-centered
                    h1.title.is-1 Nicolás Aravena Claramunt
                    if subtitle
                        p.subtitle=subtitle
                    else
                        p.subtitle Ingeniero Civil Informático
                    p.is-hidden-print
                        +icon('https://www.linkedin.com/in/nicolas-aravena', 'fa-linkedin-in')
                        +icon('https://github.com/nixaraven', 'fa-github')
                        +icon('https://gitlab.com/nixaraven', 'fa-gitlab') 
        block content
